.discover {
    width: 100%;
    height: 44px;
    background: #111131;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discover__title {
    font-size: 13px;
    line-height: 29px;
    color: #ABABFA;
    margin-right: 15px;
}

.discover__text {
    font-size: 13px;
    line-height: 29px;
    color: #ABABFA;
}

@media (max-width: 430px) {
    .discover__title {
        font-size: 8px;
        margin-right: 10px;
    }

    .discover__text {
        font-size: 8px;

    }
}
