header {
    width: 100%;
    height: 84px;
    padding: 0 40px;
    background: #FFFFFF;
    box-shadow: 6px 6px 16px rgba(17, 17, 49, 0.12);
    border-radius: 0px;
}

.header-container {
    margin: auto;
    max-width: 1365px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.menu__block {
    display: flex;
    align-items: center;
}

.logo-header {
    padding: 17px 0;
    height: 100%;
    margin-right: 38px;
}

.menu__header {
    padding: 31px 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu__header:nth-child(3) {
    margin: 0 24px;
}

.menu-text {
    margin-right: 8px;
    font-size: 15px;
    line-height: 29px;
    color: #413E52;
    text-decoration: none;
}

.logo__btn {
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: flex-end;
}
.logo__search {
    cursor: pointer;
}
.btn-logo {
    height: 44px;
    width: 130px;
    border-radius: 4px;
    background: #5C5CFF;
    margin-left: 18px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-logo:hover {
    background: #8484ff;
}
.btn-logo:active {
    transform: scale(0.98);
}

.btn-logo:focus {
    border: 2px solid #000000;
}

.menu__burger {
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
}

@media (max-width: 860px) {
    .menu__burger {
        display: flex;
    }

    .menu__header,
    .logo__btn {
        display: none;
    }

    .logo-header {
        margin-right: 10px;
    }

    header {
        padding: 0 15px;
    }
}
