.mobile {
    width: 100%;
    padding: 128px 15px 248px 15px;
}

.mobile-container {
    max-width: 1220px;
    margin: auto;
    display: flex;
    gap: 0 56px;
}

.mobile-block {
    width: 33%;
    height: auto;
}

.mobile-head {
    width: 33%;
    height: 483px;
    background: #111131;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.mobile-head__title {
    text-align: center;
    margin-top: 40px;
    width: 52px;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #5C5CFF;
    font-weight: 700;
}

.mobile-head__text {
    margin-top: 8px;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    max-width: 266px;
}

.mobile-head__email {
    margin-top: 37px;
    background: #1B1B4D;
    border: 1px solid #8989F8;
    border-radius: 4px;
    height: 56px;
    width: 273px;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    color: #5C5CFF;
    padding: 10px;
}
.mobile-head__email::placeholder {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #5C5CFF;
}

.mobile-head__subscribe {
    margin-top: 16px;
    height: 56px;
    width: 273px;
    background: #5C5CFF;
    border-radius: 4px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.case-weght {
    max-width: 356px;
}

@media (max-width:1069px) {
    .mobile-block {
        width: 45%;
        height: auto;
    }

    .mobile-head {
        width: 60%;
        order: 2;
    }

    .mobile-container {
        flex-wrap: wrap;
        gap: 20px 20px;
        justify-content: center;
    }
}

@media (max-width:661px) {
    .mobile {
        width: 100%;
        padding: 40px 15px 0 15px;
    }

    .mobile-block {
        width: 100%;
    }

    .mobile-head {
        width: 100%;
        order: 0;
    }

    .mobile-container {
        flex-wrap: wrap;
        gap: 20px 20px;
        justify-content: center;
    }
}